#Pre-Entrega de Proyecto

1- Crear un documento en Google Colaboratory y cargar los sets de datos como DataFrames.

In [32]:
#Importamos PANDAS
import pandas as pd
#Conexión con Drive (Montar)
from google.colab import drive
drive.mount('/content/drive')
#conexión con la ubicación de las carpeta donde se encuentra nuestro data ser
import os
os.listdir('/content/drive/MyDrive/datasets')
#lectura de archivos que nos interesan (Ventas.csv - clientes.csv - marketing.csv)
pd.read_csv('/content/drive/MyDrive/datasets/ventas.csv')
pd.read_csv('/content/drive/MyDrive/datasets/clientes.csv')
pd.read_csv('/content/drive/MyDrive/datasets/marketing.csv')
#Creamos el dataframe con las tablas Ventas-Clientes y Marketing
df_ventas = pd.read_csv('/content/drive/MyDrive/datasets/ventas.csv')
df_clientes = pd.read_csv('/content/drive/MyDrive/datasets/clientes.csv')
df_marketing = pd.read_csv('/content/drive/MyDrive/datasets/marketing.csv')
print(df_ventas)
print(df_clientes)
print(df_marketing)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
      id_venta                producto   precio  cantidad fecha_venta  \
0          792       Cuadro decorativo   $69.94       5.0  02/01/2024
1          811         Lámpara de mesa  $105.10       5.0  02/01/2024
2         1156                Secadora   $97.96       3.0  02/01/2024
3         1372                Heladera  $114.35       8.0  02/01/2024
4         1546                Secadora  $106.21       4.0  02/01/2024
...        ...                     ...      ...       ...         ...
3030      1837         Horno eléctrico  $104.12       9.0  30/12/2024
3031      2276                  Laptop   $85.27       9.0  30/12/2024
3032      2696                  Laptop  $107.81       4.0  30/12/2024
3033      2913              Smartphone   $99.85       7.0  30/12/2024
3034      2930  Consola de videojuegos   $55.47       6.0  30/12/2024

              categoria
0            Decoración
1            Decoración
2     Electrodomésticos
3     Electrodomésticos
4     Electrodomésticos
...                 ...
3030  Electrodomésticos
3031        Electrónica
3032        Electrónica
3033        Electrónica
3034        Electrónica

[3035 rows x 6 columns]
     id_cliente               nombre  edad         ciudad  ingresos
0             1      Aloysia Screase    44  Mar del Plata  42294.68
1             2  Kristina Scaplehorn    25        Posadas  24735.04
2             3       Filip Castagne    50    Resistencia  35744.85
3             4          Liuka Luard    39   Bahía Blanca  27647.96
4             5        Dore Cockshtt    28        Rosario  28245.65
..          ...                  ...   ...            ...       ...
562         563        Dione Forsyde    29        Posadas  26757.73
563         564          Fleming Gow    39       Santa Fe  43674.96
564         565      Jewelle Mabbett    33        Córdoba  30522.64
565         566          Lauri Munns    23    Resistencia  31259.14
566         567          Micah Matis    31     Corrientes  42927.86

[567 rows x 5 columns]
    id_campanha            producto  canal  costo fecha_inicio   fecha_fin
0            74     Adorno de pared     TV   4.81   20/03/2024  03/05/2024
1            12              Tablet   RRSS   3.40   26/03/2024  13/05/2024
2            32     Lámpara de mesa  Email   5.54   28/03/2024  20/04/2024
3            21          Smartphone   RRSS   6.37   29/03/2024  16/05/2024
4            58            Alfombra  Email   4.25   31/03/2024  05/05/2024
..          ...                 ...    ...    ...          ...         ...
85           70          Aspiradora     TV   3.06   13/12/2024  29/12/2024
86           89           Televisor     TV   4.98   13/12/2024    8/2/2025
87           68   Rincón de plantas     TV   5.81   17/12/2024   14/2/2025
88           33            Secadora  Email   3.80   20/12/2024    7/1/2025
89           11  Freidora eléctrica   RRSS   5.27   29/12/2024   21/1/2025

[90 rows x 6 columns]

4- Introducción a Pandas: realizar un análisis exploratorio inicial de los DataFrames.

In [33]:
#info de cada DATA SETS
print("--------------------- Información detallada de cada DATASETS ---------------------")
print("Detalle de Ventas: ")
print("----------------------------------------------------------------------------------")
df_ventas.info()
print("----------------------------------------------------------------------------------")
print("Detalle de Clientes: ")
print("----------------------------------------------------------------------------------")
df_clientes.info()
print("----------------------------------------------------------------------------------")
print("Detalle de Marketing: ")
print("----------------------------------------------------------------------------------")
df_marketing.info()

--------------------- Información detallada de cada DATASETS ---------------------
Detalle de Ventas:
----------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   object
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3035 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 142.4+ KB
----------------------------------------------------------------------------------
Detalle de Clientes:
----------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB
----------------------------------------------------------------------------------
Detalle de Marketing:
----------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     object
 5   fecha_fin     90 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.3+ KB

In [34]:
#Mostramos los primeros datos de cada DATASETS
print("--------------------- Primeros datos de cada DATASETS ----------------------------")
print("Primeros datos de Ventas: ")
print("----------------------------------------------------------------------------------")
print(df_ventas.head())
print("----------------------------------------------------------------------------------")
print("Primeros datos de Clientes: ")
print("----------------------------------------------------------------------------------")
print(df_clientes.head())
print("----------------------------------------------------------------------------------")
print("Primeros datos de Marketing: ")
print("----------------------------------------------------------------------------------")
print(df_marketing.head())

--------------------- Primeros datos de cada DATASETS ----------------------------
Primeros datos de Ventas:
----------------------------------------------------------------------------------
   id_venta           producto   precio  cantidad fecha_venta  \
0       792  Cuadro decorativo   $69.94       5.0  02/01/2024
1       811    Lámpara de mesa  $105.10       5.0  02/01/2024
2      1156           Secadora   $97.96       3.0  02/01/2024
3      1372           Heladera  $114.35       8.0  02/01/2024
4      1546           Secadora  $106.21       4.0  02/01/2024

           categoria
0         Decoración
1         Decoración
2  Electrodomésticos
3  Electrodomésticos
4  Electrodomésticos
----------------------------------------------------------------------------------
Primeros datos de Clientes:
----------------------------------------------------------------------------------
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bahía Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65
----------------------------------------------------------------------------------
Primeros datos de Marketing:
----------------------------------------------------------------------------------
   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno de pared     TV   4.81   20/03/2024  03/05/2024
1           12           Tablet   RRSS   3.40   26/03/2024  13/05/2024
2           32  Lámpara de mesa  Email   5.54   28/03/2024  20/04/2024
3           21       Smartphone   RRSS   6.37   29/03/2024  16/05/2024
4           58         Alfombra  Email   4.25   31/03/2024  05/05/2024

In [35]:
#Mostramos los últimos datos de cada DATASETS
print("--------------------- Últimos datos de cada DATASETS ----------------------------")
print("Últimos datos de Ventas: ")
print("----------------------------------------------------------------------------------")
print(df_ventas.tail())
print("----------------------------------------------------------------------------------")
print("Últimos datos de Clientes: ")
print("----------------------------------------------------------------------------------")
print(df_clientes.tail())
print("----------------------------------------------------------------------------------")
print("Últimos datos de Marketing: ")
print("----------------------------------------------------------------------------------")
print(df_marketing.tail())

--------------------- Últimos datos de cada DATASETS ----------------------------
Últimos datos de Ventas:
----------------------------------------------------------------------------------
      id_venta                producto   precio  cantidad fecha_venta  \
3030      1837         Horno eléctrico  $104.12       9.0  30/12/2024
3031      2276                  Laptop   $85.27       9.0  30/12/2024
3032      2696                  Laptop  $107.81       4.0  30/12/2024
3033      2913              Smartphone   $99.85       7.0  30/12/2024
3034      2930  Consola de videojuegos   $55.47       6.0  30/12/2024

              categoria
3030  Electrodomésticos
3031        Electrónica
3032        Electrónica
3033        Electrónica
3034        Electrónica
----------------------------------------------------------------------------------
Últimos datos de Clientes:
----------------------------------------------------------------------------------
     id_cliente           nombre  edad       ciudad  ingresos
562         563    Dione Forsyde    29      Posadas  26757.73
563         564      Fleming Gow    39     Santa Fe  43674.96
564         565  Jewelle Mabbett    33      Córdoba  30522.64
565         566      Lauri Munns    23  Resistencia  31259.14
566         567      Micah Matis    31   Corrientes  42927.86
----------------------------------------------------------------------------------
Últimos datos de Marketing:
----------------------------------------------------------------------------------
    id_campanha            producto  canal  costo fecha_inicio   fecha_fin
85           70          Aspiradora     TV   3.06   13/12/2024  29/12/2024
86           89           Televisor     TV   4.98   13/12/2024    8/2/2025
87           68   Rincón de plantas     TV   5.81   17/12/2024   14/2/2025
88           33            Secadora  Email   3.80   20/12/2024    7/1/2025
89           11  Freidora eléctrica   RRSS   5.27   29/12/2024   21/1/2025

In [36]:
#Información estadistica de cada DATASETS
print("--------------------- Información estadistica de cada DATASETS ---------------------")
print("Información estadistica de Ventas: ")
print("----------------------------------------------------------------------------------")
print(df_ventas.describe())
print("----------------------------------------------------------------------------------")
print("Información estadistica de Clientes: ")
print("----------------------------------------------------------------------------------")
print(df_clientes.describe())
print("----------------------------------------------------------------------------------")
print("Información estadistica de Marketing: ")
print("----------------------------------------------------------------------------------")
print(df_marketing.describe())

--------------------- Información estadistica de cada DATASETS ---------------------
Información estadistica de Ventas:
----------------------------------------------------------------------------------
          id_venta     cantidad
count  3035.000000  3033.000000
mean   1499.851400     6.496538
std     866.465379     3.457250
min       1.000000     1.000000
25%     748.500000     3.000000
50%    1502.000000     7.000000
75%    2249.500000     9.000000
max    3000.000000    12.000000
----------------------------------------------------------------------------------
Información estadistica de Clientes:
----------------------------------------------------------------------------------
       id_cliente        edad      ingresos
count  567.000000  567.000000    567.000000
mean   284.000000   37.940035  34668.739012
std    163.823075   10.202885  12974.531446
min      1.000000   20.000000    170.290000
25%    142.500000   30.000000  26015.240000
50%    284.000000   37.000000  35066.830000
75%    425.500000   43.000000  42457.100000
max    567.000000   81.000000  88053.010000
----------------------------------------------------------------------------------
Información estadistica de Marketing:
----------------------------------------------------------------------------------
       id_campanha      costo
count    90.000000  90.000000
mean     45.500000   4.928667
std      26.124701   0.947750
min       1.000000   2.950000
25%      23.250000   4.372500
50%      45.500000   4.900000
75%      67.750000   5.562500
max      90.000000   7.390000

In [37]:
#Mostramos tipo de datos de cada DATASETS
print("--------------------- Tipo de datos de cada DATASETS -----------------------------")
print("Tipo de datos de Ventas: ")
print("----------------------------------------------------------------------------------")
print(df_ventas.dtypes)
print("----------------------------------------------------------------------------------")
print("Tipo de datos de Clientes: ")
print("----------------------------------------------------------------------------------")
print(df_clientes.dtypes)
print("----------------------------------------------------------------------------------")
print("Tipo de datos de Marketing: ")
print("----------------------------------------------------------------------------------")
print(df_marketing.dtypes)

--------------------- Tipo de datos de cada DATASETS -----------------------------
Tipo de datos de Ventas:
----------------------------------------------------------------------------------
id_venta         int64
producto        object
precio          object
cantidad       float64
fecha_venta     object
categoria       object
dtype: object
----------------------------------------------------------------------------------
Tipo de datos de Clientes:
----------------------------------------------------------------------------------
id_cliente      int64
nombre         object
edad            int64
ciudad         object
ingresos      float64
dtype: object
----------------------------------------------------------------------------------
Tipo de datos de Marketing:
----------------------------------------------------------------------------------
id_campanha       int64
producto         object
canal            object
costo           float64
fecha_inicio     object
fecha_fin        object
dtype: object

In [38]:
#Mostramos dimensión del DATASETS (Filas, columnas)
print("--------------------- Dimensiones de cada DATASETS -----------------------------")
print("Dimensiones de Ventas: ")
print("----------------------------------------------------------------------------------")
print(df_ventas.shape)
print("----------------------------------------------------------------------------------")
print("Dimensiones de Clientes: ")
print("----------------------------------------------------------------------------------")
print(df_clientes.shape)
print("----------------------------------------------------------------------------------")
print("Dimensiones de Marketing: ")
print("----------------------------------------------------------------------------------")
print(df_marketing.shape)

--------------------- Dimensiones de cada DATASETS -----------------------------
Dimensiones de Ventas:
----------------------------------------------------------------------------------
(3035, 6)
----------------------------------------------------------------------------------
Dimensiones de Clientes:
----------------------------------------------------------------------------------
(567, 5)
----------------------------------------------------------------------------------
Dimensiones de Marketing:
----------------------------------------------------------------------------------
(90, 6)

5- Calidad de Datos: Identificar valores nulos y duplicados en los conjuntos de datos. Documentar el estado inicial de los datos.

In [39]:
#Identificamos duplicados en cada DATASETS, considerando que el primer valor es correcto y los que se repiten, son sus duplicados.
print("--------------------- Duplicados de cada DATASETS -----------------------------")
print("Ventas: ")
print("----------------------------------------------------------------------------------")
print(f"Cantdidad de filas duplicadas: {df_ventas.duplicated(keep=False).sum()}")
print("----------------------------------------------------------------------------------")
print("Clientes: ")
print("----------------------------------------------------------------------------------")
print(f"Cantidad de filas duplicadas: {df_clientes.duplicated().sum()}")
print("----------------------------------------------------------------------------------")
print("Marketing: ")
print("----------------------------------------------------------------------------------")
print(f"Cantidad de filas duplicadas: {df_marketing.duplicated().sum()}")

--------------------- Duplicados de cada DATASETS -----------------------------
Ventas:
----------------------------------------------------------------------------------
Cantdidad de filas duplicadas: 70
----------------------------------------------------------------------------------
Clientes:
----------------------------------------------------------------------------------
Cantidad de filas duplicadas: 0
----------------------------------------------------------------------------------
Marketing:
----------------------------------------------------------------------------------
Cantidad de filas duplicadas: 0

In [40]:
#DEF para mostrar contar los duplicados y mostrar los datos filtrados:
def calidad(df,nombre,id):
  print("Valores duplicados de la table",nombre)
  print("-")
  print(f"Cantidad de filas duplicadas: {df.duplicated(keep=False).sum()}")
  print("-")
  #contar duplicados por id de cada df
  print(f"Cantidad de filas duplicadas por {id}: {df.duplicated(keep=False).sum()}")
  print("-")
  #Armar una tabla filtrando los valores duplicados para mostrarlos
  duplicados = (df[df[id].duplicated(keep=False)].sort_values(by=id))
  print(duplicados.head(10))
  print("-")

In [41]:
#Ejecucion de nuestro DEF
calidad(df_ventas, "Ventas", "id_venta")
calidad(df_clientes, "Clientes", "id_cliente")
calidad(df_marketing, "Marketing", "id_campanha")

Valores duplicados de la table Ventas
-
Cantidad de filas duplicadas: 70
-
Cantidad de filas duplicadas por id_venta: 70
-
     id_venta           producto  precio  cantidad fecha_venta   categoria
820        56           Cortinas  $66.24       5.0  05/04/2024  Decoración
826        56           Cortinas  $66.24       5.0  05/04/2024  Decoración
832       145           Alfombra  $41.72       8.0  06/04/2024  Decoración
844       145           Alfombra  $41.72       8.0  06/04/2024  Decoración
878       204  Jarrón decorativo  $94.75       1.0  08/04/2024  Decoración
884       204  Jarrón decorativo  $94.75       1.0  08/04/2024  Decoración
867       213  Espejo decorativo  $40.76       8.0  07/04/2024  Decoración
856       213  Espejo decorativo  $40.76       8.0  07/04/2024  Decoración
833       300    Adorno de pared  $67.75       9.0  06/04/2024  Decoración
845       300    Adorno de pared  $67.75       9.0  06/04/2024  Decoración
-
Valores duplicados de la table Clientes
-
Cantidad de filas duplicadas: 0
-
Cantidad de filas duplicadas por id_cliente: 0
-
Empty DataFrame
Columns: [id_cliente, nombre, edad, ciudad, ingresos]
Index: []
-
Valores duplicados de la table Marketing
-
Cantidad de filas duplicadas: 0
-
Cantidad de filas duplicadas por id_campanha: 0
-
Empty DataFrame
Columns: [id_campanha, producto, canal, costo, fecha_inicio, fecha_fin]
Index: []
-

In [42]:
#identificar valores nulos en cada datasets
print("--------------------- Valores nulos de cada DATASETS -----------------------------")
print("Valores nulos de Ventas: ")
print("----------------------------------------------------------------------------------")
print(df_ventas.isnull().sum())
print("----------------------------------------------------------------------------------")
print("Valores nulos de Clientes: ")
print("----------------------------------------------------------------------------------")
print(df_clientes.isnull().sum())
print("----------------------------------------------------------------------------------")
print("Valores nulos de Marketing: ")
print("----------------------------------------------------------------------------------")
print(df_marketing.isnull().sum())

--------------------- Valores nulos de cada DATASETS -----------------------------
Valores nulos de Ventas:
----------------------------------------------------------------------------------
id_venta       0
producto       0
precio         2
cantidad       2
fecha_venta    0
categoria      0
dtype: int64
----------------------------------------------------------------------------------
Valores nulos de Clientes:
----------------------------------------------------------------------------------
id_cliente    0
nombre        0
edad          0
ciudad        0
ingresos      0
dtype: int64
----------------------------------------------------------------------------------
Valores nulos de Marketing:
----------------------------------------------------------------------------------
id_campanha     0
producto        0
canal           0
costo           0
fecha_inicio    0
fecha_fin       0
dtype: int64

In [43]:
#Detectamos valores faltantes
print("--------------------- Valores faltantes de cada DATASETS -----------------------------")
print("Valores faltantes de Ventas: ")
print("----------------------------------------------------------------------------------")
print(df_ventas.isna().sum())
print("----------------------------------------------------------------------------------")
print("Valores faltantes de Clientes: ")
print("----------------------------------------------------------------------------------")
print(df_clientes.isna().sum())
print("----------------------------------------------------------------------------------")
print("Valores faltantes de Marketing: ")
print("----------------------------------------------------------------------------------")
print(df_marketing.isna().sum())

--------------------- Valores faltantes de cada DATASETS -----------------------------
Valores faltantes de Ventas:
----------------------------------------------------------------------------------
id_venta       0
producto       0
precio         2
cantidad       2
fecha_venta    0
categoria      0
dtype: int64
----------------------------------------------------------------------------------
Valores faltantes de Clientes:
----------------------------------------------------------------------------------
id_cliente    0
nombre        0
edad          0
ciudad        0
ingresos      0
dtype: int64
----------------------------------------------------------------------------------
Valores faltantes de Marketing:
----------------------------------------------------------------------------------
id_campanha     0
producto        0
canal           0
costo           0
fecha_inicio    0
fecha_fin       0
dtype: int64

6 - Limpieza de datos

In [69]:
#Copia de cada DataFrame
df_ventas_clean = df_ventas.copy()
df_clientes_clean = df_clientes.copy()
df_marketing_clean = df_marketing.copy()
#eliminar duplicados de cada DF
df_ventas_clean= df_ventas_clean.drop_duplicates()
df_clientes_clean= df_clientes_clean.drop_duplicates()
df_marketing_clean= df_marketing_clean.drop_duplicates()
print("Información de df_ventas_clean después de eliminar duplicados:")
df_ventas_clean.info()
print("\nInformación de df_clientes_clean después de eliminar duplicados:")
df_clientes_clean.info()
print("\nInformación de df_marketing_clean después de eliminar duplicados:")
df_marketing_clean.info()
print("\nCantidad de duplicados en df_ventas_clean:")
print(df_ventas_clean.duplicated().sum())

Información de df_ventas_clean después de eliminar duplicados:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   object
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3000 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 142.4+ KB

Información de df_clientes_clean después de eliminar duplicados:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB

Información de df_marketing_clean después de eliminar duplicados:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     object
 5   fecha_fin     90 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.3+ KB

Cantidad de duplicados en df_ventas_clean:
0

In [80]:

#buscar columnas precios / costo / ingresos y eliminar signo $  - espacios
df_ventas_clean['precio'] = df_ventas_clean['precio'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).str.strip()
df_clientes_clean['ingresos'] = df_clientes_clean['ingresos'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).str.strip()
df_marketing_clean['costo'] = df_marketing_clean['costo'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).str.strip()
print("datos de la columna precio: ")
df_ventas_clean.info()
print("----------------------------------------------------------------------------------")
print(df_ventas_clean['precio'].head(5).sort_values(ascending=True))
print(df_clientes_clean['ingresos'].head(5).sort_values(ascending=True))
print(df_marketing_clean['costo'].head(5).sort_values(ascending=True))
#
#

datos de la columna precio:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3035 non-null   object
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3000 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 142.4+ KB
----------------------------------------------------------------------------------
1    105.10
4    106.21
3    114.35
0     69.94
2     97.96
Name: precio, dtype: object
1    24735.04
3    27647.96
4    28245.65
2    35744.85
0    42294.68
Name: ingresos, dtype: object
1     3.4
4    4.25
0    4.81
2    5.54
3    6.37
Name: costo, dtype: object

In [83]:
#Transformamos las columnas precio, ingresos y costo de nuestro dataframe en columna precio númerico.
df_ventas_clean['precio'] = pd.to_numeric(df_ventas_clean['precio'], errors='coerce')
df_clientes_clean['ingresos'] = pd.to_numeric(df_clientes_clean['ingresos'], errors='coerce')
df_marketing_clean['costo'] = pd.to_numeric(df_marketing_clean['costo'], errors='coerce')

In [93]:
#Limpiar texto de columnas tipo string
#borramos los espacios - convertimos a tipo string - convertimos las expresiones regulares - reempleazamos los espacios y convertimos los nombres propios con mayusculas las iniciales.
#Ventas
for col in df_ventas_clean.select_dtypes(include=['object']).columns:
  df_ventas_clean[col] = df_ventas_clean[col].astype(str).str.strip().replace(r"[\u200b\t\r\n]", "", regex=True).str.replace(" +", " ", regex=True).str.title()
#Clientes
for col in df_clientes_clean.select_dtypes(include=['object']).columns:
  df_clientes_clean[col] = df_clientes_clean[col].astype(str).str.strip().replace(r"[\u200b\t\r\n]", "", regex=True).str.replace(" +", " ", regex=True).str.title()
#Marketing
for col in df_marketing_clean.select_dtypes(include=['object']).columns:
  df_marketing_clean[col] = df_marketing_clean[col].astype(str).str.strip().replace(r"[\u200b\t\r\n]", "", regex=True).str.replace(" +", " ", regex=True).str.title()

In [98]:
print(df_ventas_clean.info())
print(df_ventas_clean.head())
print(df_clientes_clean.info())
print(df_clientes_clean.head())
print(df_marketing_clean.info())
print(df_marketing_clean.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   float64
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3035 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 142.4+ KB
None
   id_venta           producto  precio  cantidad fecha_venta  \
0       792  Cuadro Decorativo   69.94       5.0  02/01/2024
1       811    Lámpara De Mesa  105.10       5.0  02/01/2024
2      1156           Secadora   97.96       3.0  02/01/2024
3      1372           Heladera  114.35       8.0  02/01/2024
4      1546           Secadora  106.21       4.0  02/01/2024

           categoria
0         Decoración
1         Decoración
2  Electrodomésticos
3  Electrodomésticos
4  Electrodomésticos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB
None
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar Del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bahía Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     object
 5   fecha_fin     90 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.3+ KB
None
   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno De Pared     Tv   4.81   20/03/2024  03/05/2024
1           12           Tablet   Rrss   3.40   26/03/2024  13/05/2024
2           32  Lámpara De Mesa  Email   5.54   28/03/2024  20/04/2024
3           21       Smartphone   Rrss   6.37   29/03/2024  16/05/2024
4           58         Alfombra  Email   4.25   31/03/2024  05/05/2024

In [99]:
#Transformar y normalizar las columnas fechas de cada dataframe
for df in [df_ventas_clean,df_clientes_clean,df_marketing_clean]:
  for col in df.columns:
    if 'fecha' in col.lower():
      df[col] = pd.to_datetime(df[col], errors='coerce',dayfirst=True)

In [101]:
print(df_ventas_clean.info())
print(df_ventas_clean.head())
print(df_clientes_clean.info())
print(df_clientes_clean.head())
print(df_marketing_clean.info())
print(df_marketing_clean.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   float64
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   datetime64[ns]
 5   categoria    3035 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 142.4+ KB
None
   id_venta           producto  precio  cantidad fecha_venta  \
0       792  Cuadro Decorativo   69.94       5.0  2024-01-02
1       811    Lámpara De Mesa  105.10       5.0  2024-01-02
2      1156           Secadora   97.96       3.0  2024-01-02
3      1372           Heladera  114.35       8.0  2024-01-02
4      1546           Secadora  106.21       4.0  2024-01-02

           categoria
0         Decoración
1         Decoración
2  Electrodomésticos
3  Electrodomésticos
4  Electrodomésticos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB
None
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar Del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bahía Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     datetime64[ns]
 5   fecha_fin     90 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 4.3+ KB
None
   id_campanha         producto  canal  costo fecha_inicio  fecha_fin
0           74  Adorno De Pared     Tv   4.81   2024-03-20 2024-05-03
1           12           Tablet   Rrss   3.40   2024-03-26 2024-05-13
2           32  Lámpara De Mesa  Email   5.54   2024-03-28 2024-04-20
3           21       Smartphone   Rrss   6.37   2024-03-29 2024-05-16
4           58         Alfombra  Email   4.25   2024-03-31 2024-05-05